<!DOCTYPE html>
<%- include("partials/header"); -%>

<div class="row">
  <div class="col">
    <h4>Editing a Job/Activity</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      You can edit any jobs/activites you've posted to amend the location of the job and description if required.
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>How to Edit a Job/Activity:</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      <b>Step 1:</b> On the home page, tap the blue 'View Job Activity' button.
      <br>
      <b>Step 2:</b> You will now see your posted jobs/activities, if you have not posted any you can tap the green
      'Post a Job/Activity' button to post a job/activity. If you have posted jobs/activities, you will see each of
      them, and be able to tap the 'View job/Activity' on one to see it's details in full.
      <br>
      <b>Step 3:</b> You can now see the details of the job you have posted and be able to modify them to
      your liking, once modified, tap the 'Edit Job/Activity' button and tap 'Edit' on the confirmation window
      <br>
      <br>
      You have now successfully edited a job/activity!

      Tap the button below to view your Jobs/Activities:
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary view-job-activity-button"> <a href="/client-job-activity"><i class="fas fa-history"></i>  View Job Activity<a></button>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<button type="button" class="btn btn-secondary go-back-button"><a href="/client-help-guide"><i class="fas fa-arrow-left"></i>  Go Back</a></button>
</body>
</html>
