<!DOCTYPE html>
<%- include("partials/header"); -%>

<div class="div-successorfailure">
  <p>you have successfully posted a new job! Tap the button below to go to the home page.</p>
  <button type="button" class="btn btn-primary job-success-home-btn">
    <a href="/client-home"><i class="fas fa-home"></i>  Home</a></button>
</div>
</body>
</html>
