<!DOCTYPE html>
<%- include("partials/header"); -%>

<div class="row">
  <div class="col">
    <h4>Editing Emergency Contact Details</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      You can edit details of your emergency contact if you made any mistakes or would like to update a particular
      field.
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>How to Edit your Emergency Contact:</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      <b>Step 1:</b> On the home page, tap the light blue 'Emergency Contacy' button.
      <br>
      <b>Step 2:</b> You will now be able to see your emergency contact's details, tap the blue 'Edit/Delete Contact'
      button
      <b>Step 3:</b> You will be able to see each detail of your emergency contact and you can amend the particular
      detail/details you need to change, once you have done that tap the blue 'Edit Contact Details' button and tap 'Edit'
      on the confirmation window
      <br>
      <br>
      You have now successfully edited your emergency contact!

      Tap the button below to view the Emergency Contact page:
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-info settings-button"><a href="/client-contact-details"><i class="fas fa-address-book"></i>  Emergency Contact<a> </button>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<button type="button" class="btn btn-secondary go-back-button"><a href="/client-help-guide"><i class="fas fa-arrow-left"></i>  Go Back</a></button>
</body>
</html>
