<!DOCTYPE html>
<%- include("partials/header"); -%>

<div class="row">
  <div class="col">
    <h4>Viewing your posted Jobs/Activities</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      You can view all the jobs/activities you've posted and all their details such as the category,
      location, description and status of the job/activity. <br> The status of the job/activity can differ from 'available',
      meaning the job/activity is active and available for a volunteer to view and/or take on. <br> The status could also be 'ongoing',
      meaning a volunteer has accepted the job/activity and will be in the process of carrying it out. <br> The status will
      lastly change to 'Complete', meaning that volunteer has completed the job/activity. <br>You can also tap the
      'View job/activity' button to view the job/actvities details in full and have the choice to edit them or delete the job/activity.
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>How to View a Job/Activity:</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      <b>Step 1:</b> On the home page, tap the blue 'View Job Activity' button.
      <br>
      <b>Step 2:</b> You will now see your posted jobs/activities, if you have not posted any you can tap the green
      'Post a Job/Activity' button to post a job/activity. If you have posted jobs/activities, you will see each of
      them, and be able to tap the 'View job/Activity' on one to see it's details in full.
      <br>
      <b>Step 3:</b> You can now see the details of the job you have posted and be able to change them or delete them
      if required.
      <br>
      <br>

      Tap the button below to view your Jobs/Activities:
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary view-job-activity-button"> <a href="/client-job-activity"><i class="fas fa-history"></i>  View Job Activity<a></button>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<button type="button" class="btn btn-secondary go-back-button"><a href="/client-help-guide"><i class="fas fa-arrow-left"></i>  Go Back</a></button>
</body>
</html>
