<!DOCTYPE html>
<%- include("partials/header"); -%>

<div class="row">
  <div class="col">
    <h4>Posting a Job/Activity</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      Posting a job/activity allows you to pick what you'd like to do from a range of categories and describe the manner
      of job/activity and pick from where you currently are or a postcode of your choice.
      <br>
      <br>
      You will be notified when a
      volunteer has accepted your job/activity and will be able to get in contact with them to further discuss the
      job/activity.
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>How to Post a Job:</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      <b>Step 1:</b> On the home page, tap the green 'Post a job' button.
      <br>
      <b>Step 2:</b> You will now see the page to post a job, to start off,
      choose your category by selecting dropdown box (it is labeled '--Please choose an option--').
      <br>
      <b>Step 3:</b> Choose your location, you can do this by tapping the grey 'Use My Current Location'
      button and selecting the blue 'Yes' button. You may be prompted by your browser to gain permission to know
      your location, select 'allow' and you should now see the map with your current location.
      Alternatively, you can choose your own location by typing a postcode in the box below the 'Use My Current Location'
      button.
      <br>
      <b>Step 4:</b> Lastly, give some details in the large box at the bottom of the page about the job/activity.
      <br>
      <b>Step 5:</b> Tap the blue 'Post Job/Activity' button at the bottom of the screen and tap 'post'
      when you see the confirmation window appear.
      <br>
      <br>
      You have now successfully posted a job/activity!

      Tap the button below to post a job:
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-success post-a-job-button"> <a href="/client-post-job"><i class="fas fa-plus-square"></i>  Post a Job<a> </button>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<button type="button" class="btn btn-secondary go-back-button"><a href="/client-help-guide"><i class="fas fa-arrow-left"></i>  Go Back</a></button>
</body>
</html>
