<!DOCTYPE html>
<%- include("partials/header"); -%>

<div class="row">
  <div class="col">
    <h4>Adding Emergency Contact Details</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      You can add details of a preferred emergency contact to aid a volunteer in case there is an emergency
      situation. You can the contact's name, their telephone number and their relation to you.
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>How to add an Emergency Contact:</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">
      <b>Step 1:</b> On the home page, tap the light blue 'Emergency Contacy' button.
      <br>
      <b>Step 2:</b> You will now be able to see your emergency contact's details if you have added them before. If not,
      you can type in their details in the 3 text boxes and tap the 'Add Contact' button and then the 'Add' button
      on the confirmation window
      <br>
      <br>
      You have now successfully added an emergency contact!

      Tap the button below to view the Emergency Contact page:
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-info settings-button"><a href="/client-contact-details"><i class="fas fa-address-book"></i>  Emergency Contact<a> </button>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<button type="button" class="btn btn-secondary go-back-button"><a href="/client-help-guide"><i class="fas fa-arrow-left"></i>  Go Back</a></button>
</body>
</html>
