<!DOCTYPE html>
  <%- include("partials/header"); -%>

  <p class="postjob-text">How would you best describe the job/activity you'd like to do? Select from below:</p>
  <form action="/client-post-job" method="post">

      <div class="row">
        <div class="col">
          <select name="clientCategory" class="form-control">
            <option value="">--Please choose an option--</option>
            <option value="Household Help">Household Help</option>
            <option value="Leisure Activity">Leisure Activity</option>
            <option value="Shopping">Shopping</option>
            <option value="Building & Home Maintenance">Building & Home Maintenance</option>
            <option value="Gardening">Gardening</option>
            <option value="Transportation">Transportation</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="postjob-text">Select the location of the job/activity</p>
          <input type="hidden" id="userLatLonField" name="userCoords">
          <button type="button" class="btn btn-secondary btn-lg" id="first-current-location-btn" data-toggle="modal" data-target="#modalLarge2"><i class="fas fa-compass"></i>  Use My Current Location</button>
        </div>
      </div>

      <div class="row">
        <div class="col" id="mapholder"></div>
      </div>

      <p class="postjob-text">or you can specify your own location:</p>

      <div class="row" id="specify-location-div">
        <div class="col">
          <input type="text" id="countyTxt" class="form-control" name="clientJobCity" placeholder="City">
        </div>
        <div class="col">
          <input type="text" id="cityTxt" class="form-control" name="clientJobArea" placeholder="Area">
          <input type="hidden" name="clientJobCountry" value="Scotland">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="postjob-text">Provide some details about the job/activity:</p>
          <textarea class="form-control text-area" name="clientJobDesc" rows="4" cols="30"></textarea>
        </div>
      </div>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-default btn-primary postjob-button" data-toggle="modal" data-target="#modalLarge3"><i class="fas fa-plus-square"></i>  Post Job/Activity</button>
      </div>
    </div>

    <div class="modal fade modal-fullscreen" id="modalLarge3" tabindex="-1" role="dialog" aria-labelledby="modalLargeLabel">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="modalLargeLabel">Confirm Details</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure the details of this job/activity is correct?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Let me double check</button>
      <button type="submit" class="btn btn-default btn-primary" data-glyphicon="glyphicon-ok"><i class="fas fa-plus-square"></i>  Post</button>
    </div>
    </div>
    </div>
    </div>

  </form>
  <script>
    var countyTxtElement = document.getElementById('countyTxt');
    var cityTxtElement = document.getElementById('cityTxt');

    countyTxtElement.addEventListener('keyup', function(){
        var countyText = countyTxtElement.value;
        if(countyText !== '')
        {
          document.getElementById('current-location-btn').disabled = true;
          document.getElementById('first-current-location-btn').disabled = true;
          document.getElementById('mapholder').disabled = true;
        }
        else
        {
          document.getElementById('current-location-btn').disabled = false;
          document.getElementById('first-current-location-btn').disabled = false;
          document.getElementById('mapholder').disabled = false;
        }
      });

    cityTxtElement.addEventListener('keyup', function(){
        var cityText = cityTxtElement.value;
        if(cityText !== '')
        {
          document.getElementById('current-location-btn').disabled = true;
          document.getElementById('first-current-location-btn').disabled = true;
          document.getElementById('mapholder').disabled = true;
        }
        else
        {
          document.getElementById('current-location-btn').disabled = false;
          document.getElementById('first-current-location-btn').disabled = false;
          document.getElementById('mapholder').disabled = false;
        }
      });
  </script>

  <script src="https://maps.google.com/maps/api/js?key=AIzaSyAkbRy3fEiWJsTcGKFs7UT6-VfF9HJH9Pg"></script>
  <script>
  var x = document.getElementById("demo");
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition, showError);
      document.getElementById("countyTxt").setAttribute("disabled", "disabled");
      document.getElementById("cityTxt").setAttribute("disabled", "disabled");
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    var latlon = new google.maps.LatLng(lat, lon)
    var mapholder = document.getElementById('mapholder')
    mapholder.style.height = '200px';
    mapholder.style.width = '250px';

    document.getElementById("userLatLonField").value = position.coords.latitude + ", " + position.coords.longitude;

    var myOptions = {
      center:latlon,zoom:15,
      mapTypeId:google.maps.MapTypeId.ROADMAP,
      mapTypeControl:false,
      navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
    }

    var map = new google.maps.Map(document.getElementById("mapholder"), myOptions);
    var marker = new google.maps.Marker({position:latlon,map:map,title:"You are here!"});
  }

  function showError(error) {
    switch(error.code) {
      case error.PERMISSION_DENIED:
        x.innerHTML = "User denied the request for Geolocation."
        break;
      case error.POSITION_UNAVAILABLE:
        x.innerHTML = "Location information is unavailable."
        break;
      case error.TIMEOUT:
        x.innerHTML = "The request to get user location timed out."
        break;
      case error.UNKNOWN_ERROR:
        x.innerHTML = "An unknown error occurred."
        break;
    }
  }
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <div class="modal fade modal-fullscreen" id="modalLarge2" tabindex="-1" role="dialog" aria-labelledby="modalLargeLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="modalLargeLabel">Confirm Details</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to use your current location?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Specify my own Location</button>
    <button type="button" class="btn btn-default btn-primary" id="current-location-btn" data-dismiss="modal" onclick="getLocation()"><i class="fas fa-compass"></i>  Yes</button>
  </div>
</div>
</div>
</div>

  </body>
</html>
