<!DOCTYPE html>
<%- include("partials/header"); -%>

<div class="row">
  <div class="col">
    <h3>Help Guide</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="help-guide-text">Choose from below on what part of the app you'd like to know more about.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>Jobs/Activities:</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary help-guide-btn">
      <a href="/client-help-guide/post-job"><i class="fas fa-plus-square"></i>  Posting a Job/Activity</a></button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary help-guide-btn">
      <a href="/client-help-guide/view-job"><i class="fas fa-history"></i>  View your Jobs/Activities</a></button>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary help-guide-btn">
      <a href="/client-help-guide/edit-job"><i class="fas fa-edit"></i>  Editing a Job/Activity</a></button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary help-guide-btn">
      <a href="/client-help-guide/delete-job"><i class="fas fa-trash-alt"></i>  Deleting a Job/Activity</a></button>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>Emergency Contact:</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-info  help-guide-btn">
      <a href="/client-help-guide/add-contact-details"><i class="fas fa-address-book"></i>  Add Emergency Contact</a></button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-info help-guide-btn">
      <a href="/client-help-guide/edit-contact-details"><i class="fas fa-edit"></i>  Edit Emergency Contact</a></button>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-info help-guide-btn">
      <a href="/client-help-guide/delete-contact-details"><i class="fas fa-trash-alt"></i>  Delete Emergency Contact</a></button>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<button type="button" class="btn btn-secondary go-back-button"><a href="/client-home"><i class="fas fa-arrow-left"></i>  Go Back</a></button>
</body>
</html>
