<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EZVolunteer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg mx-auto">
          <h1>Welcome to EZVolunteer!</h1>
          <p>Please choose from below:</p>
          <div class="row">
            <div class="col-lg mx-auto">
              <button type="button" class="btn btn-primary client-button"> <a href="/client-login">Client<a> </button>
              <button type="button" class="btn btn-secondary volunteer-button"> <a href="/volunteer-login">Volunteer<a> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
