<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Success!</title>
  </head>
  <body>
    <div class="div-successorfailure">
      <h4>Welcome, <%= newUser %>!</h4>
      <p>you have successfully created an account! Tap the button below to log-in to your new account.</p>
      <button type="button" class="btn btn-primary login-button">
        <a href="/volunteer-login"><i class="fas fa-sign-in-alt"></i>  Login</a></button>
    </div>
  </body>
</html>
